/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

body{
  background-image: url(../img/pokemon-battle.jpeg) ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Press Start 2P', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/***************************************************
/* sections 
/**************************************************/
.topInput{
  display: flex;
  justify-content: space-between;
  width: 100%;
  outline: 1px solid red;
  padding: 1rem;
}
.sec2{
  text-align: right;
}
.middleSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: 1px solid red;
}
.sec3, .sec4{
  outline: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.sec4{
  outline: 2px solid black;
}

.bottomSection{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}