/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

body{
  background-image: url(../img/pokemon-battle.jpeg) ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Press Start 2P', sans-serif;
}

/***************************************************
/* sections 
/**************************************************/
.sec1{
  float: left;
}
.sec2{
  float: right;
}
.topInput{
  margin-top:50px;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 10px;
}
.middleSection{
  margin-top: 20px;
}
.bottomSection{
  margin-top: 150px;
  margin-right: 2px;
  margin-left: 2px;
}
/***************************************************
/* Type1 - Type2
/**************************************************/



/***************************************************
/* ALL H1-H4
/***************************************************/
#vs1{
  text-align: center;
}
#pokeBattle{
  text-align: center;
}

#type1{
  font-size: 13px;
  text-align: center;
  margin-bottom: 0;
}
#type2{
  text-align: center;
  font-size: 13px;
  margin-bottom: 0;
  margin-top: 10px;
}

#pokeName1{
  text-align: center;
  margin-top: 10px;
  color:blue;
}
#pokeName2{
  text-align: center;
  margin-bottom: 10px;
  color:red;
}

#list1{
  list-style-type: none;
}

#list2{
  float: right;
  list-style-type: none;
}

#player1{
  float:left;
  padding-left: 150px;
  
}
#player2{
  float: right;
  padding-right:150px;
  text-align: center;
  
}
/*******************************************
/* IMAGES
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  height: 150px;
  width: 150px;
}
/********************************************
/* INPUTS
/********************************************/
#in1{
  height: 25px;
  width:120px;
  padding-left: 10px;
  border-radius: 5px;
  border-style:hidden;
  background-color: blue;
  color:white;
}
#in2{
  height: 25px;
  width:120px;
  padding-left: 10px;
  border-radius: 5px;
  border-style:hidden;
  background-color: red;
  color:white;
}
/********************************************
/* BUTTONS
/********************************************/
#btn1{
  border-radius: 5px;
  height:25px;
  cursor: pointer;
  box-shadow: 0 2px rgb(186, 186, 186);
}
#btn1:hover{
  background-color: rgb(223, 223, 223);
}
#btn1:active{
  transform: translateY(2px);
}
#btn2{
  border-radius: 5px;
  height: 25px;
  cursor: pointer;
  box-shadow: 0 2px rgb(186, 186, 186);
}
#btn2:hover{
  background-color: rgb(223, 223, 223);
}
#btn2:active{
  transform: translateY(2px);
}

/*******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media only screen and (max-width: 767px){
  body{
    background-image: url(../img/pokemon-battle.jpeg)
  }
}

/* @media screen and (max-width: 480px){
  .sec1{
    margin-left: 
  } */
/* } */