/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

body{
  background-image: url(../img/pokemon-battle.jpeg) ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Press Start 2P', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#pokeBattle{
  text-align: center;
}

/***************************************************
/* sections 
/**************************************************/
.topInput{
  display: flex;
  justify-content: space-between;
  width: 100%;
  outline: 1px solid red;
  padding: 1rem;
  padding-top: 8rem;
  padding-bottom: 1rem;
  
  /* margin-bottom: 44rem; */
}
.sec2{
  text-align: right;
}
.middleSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50vh;
  padding-top: 15vh; 
  outline: 1px solid red;
}
.sec3, .sec4{
  /* outline: 2px solid white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.sec3{
  outline: solid blue;
}
.sec4{
  outline: 2px solid black;
}

.bottomSection{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  padding-top: 5rem;
}

/*********************************************
/* Pokemon Type & Pokemon Name
/********************************************/
/* #type1{
  padding-top: rem;
} */

/* #pokemonName1{
  
} */

/*********************************************
/* Character Images
/********************************************/
.picture1{
  margin-bottom: 50rem;
}
img{
  height: 280px;
  width: 280px;
}