/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

body{
  background-image: url(../img/pokemon-battle.jpeg) ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Press Start 2P', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#pokeBattle{
  text-align: center;
  font-size: 60px;
}

/***************************************************
/* sections 
/**************************************************/
.topInput{
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* outline: 1px solid red; */
  padding: 1rem;
  padding-top: 7rem;
  padding-bottom: 9rem;
  
  /* margin-bottom: 44rem; */
}
.sec2{
  text-align: right;
}
.middleSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 13vh;
  padding-top: 7vh; 
  /* outline: 1px solid red; */
}
.sec3, .sec4{
  /* outline: 2px solid white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
/* .sec3{ */
  /* outline: solid blue; */
/* } */
/* .sec4{ */
  /* outline: 2px solid black; */
/* } */

.bottomSection{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  padding-top: 5rem;
}

/*********************************************
/*Top section input & button styling
/********************************************/
#in1{
  color: rgb(0, 0, 255);
}
#in2{
  color:red;
}
/*********************************************
/* Pokemon Type & Pokemon Name styling
/********************************************/
#type1,#type2{
  font-size: 12px;
}

#pokeName1{
  font-size: 20px;
  color: blue;
}
#pokeName2{
  font-size: 20px;
  color: red;
}

/*********************************************
/* Character Images
/********************************************/
 #picture1{
  height: 400px;
  width: 400px;
} 
#picture2{
  height: 400px;
  width: 400px;
  margin-bottom: 210px;
}